

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    margin: 120px;
    color: goldenrod;
}

#message-el {
    font-style:italic;
    font-size: 20px;
}

button {
    margin-top: 50px;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    width      : 150px;
    padding: 5px 5px;
    border: none;
    border-radius: 2px;
    
}

ul{
  list-style: none;
  padding: 0;
}

li{

}

a {
 color: #016f32;
 text-decoration: none;
}
